.header {
  background-color: #f9f9f9;
  height: 4rem;
  padding: 0 6rem;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  .logo__nav {
    height: 50%;
  }

  .nav {
    width: 100%;
    margin-right: 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .ul {
      display: flex;
      flex-flow: row nowrap;
      text-decoration: none;
      list-style: none;

      li a {
        margin: 0 2em;
        font-family: "Helvetica Neue";
        text-decoration: none;
        font-size: 1.1em;
        transition: all 0.5s ease;
        color: black;
      }
      a:hover {
        color: #6f6f6f;
      }
    }
  }
}

footer ul {
  height: 30vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  margin: 0;
  li {
    list-style: none;

    a {
      text-decoration: none;
      font-size: 1.4rem;
      line-height: 1.9rem;
      color: black;
    }
  }
}

@media (max-width: 675px) {
  .header {
    padding: 0 1rem;
    .logo__nav {
      height: 60%;
    }
    .nav {
      justify-content: flex-end;
      img {
        width: 16%;
        cursor: pointer;
      }
    }
  }
  .openMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1050;
    button {
      border: none;
      background-color: transparent;
      font-size: 2rem;
      padding: 3rem;
    }
    .openMenu_menu {
      margin: 2rem;
      height: 50vh;
      .ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
        list-style: none;
        height: 100%;

        li a {
          margin: 5rem 2rem;
          font-family: "Helvetica Neue";
          text-decoration: none;
          font-size: 1.5em;
          transition: all 0.5s ease;
          color: black;
        }
        a:hover {
          color: #6f6f6f;
        }
      }
    }
  }
}
